#page-container{
    display: flex;
    flex-direction: column;
    min-height:100px ;
}

#content-wrap{
    flex: 1;
}

#mid{
    margin-bottom: 10px;
}

#foot{
    background-color: black;
    width: 100%;
    padding: 30px;
    pointer-events: stroke;
    position: absolute;
    bottom: 0px;
}

#Icons{
    margin-top: 10px;
    color: black;
}


#insta{
    margin-left: 20px;
    margin-right: 20px;
    
}


